<p>Play around with our data visualization app.</p>
<div class="container">
	<%= form_for @city do |f| %>
	<div class"control-group">
		<%= f.label :city, class: 'control-label'%>
		<div class='controls'>
			<%= collection_select( :city, :name, CityName.all, :name, :display_name, {}, {:multiple => false} )%>
		</div>
	</div>
	<div class"control-group">
		<%= f.label :industry, class: 'control-label'%>
		<div class='controls'>
			<%= collection_select( :city, :industry, Industry.all, :name, :display_name, {}, {:multiple => false} )%>
		</div>
	</div>
	<% end %>
</div>
<svg id="graph"></svg> 